@import "tailwindcss";

@layer base {
  @media print {
    .no-print {
      display: none !important;
    }
    
    body {
      background: white !important;
    }

    /* Target specific NF-e preview container if needed, but window.print usually works on viewport */
  }

  /* Custom scrollbar for better design */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #e4e4e7;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #d4d4d8;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

